<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiliang.mapper.OrderMapper">


    <select id="pageQuery" resultType="com.xiliang.entity.Order">
        select * from workhouse_managementshu.`order`
        <where>
            <if test="orderId!=null and orderId!=''">
                and order_id like concat('%',#{orderId},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>