<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiliang.mapper.WorkhousringMapper">

    <insert id="insert">
        insert into workhouse_managementshu.workhouse
        (username, order_id, create_time, goods_type, goods_num, img)
        values (#{username},#{orderId},#{createTime},#{goodsType},#{goodsNum},#{img})
    </insert>
</mapper>